@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="Student/Index">Open Student via Href</a><br />
    <a asp-controller="Student" asp-action="Index">Open Student via ASP</a><br />
    <img class="img-fluid" style="height: 300px"  src="~/image/pic5.jpg"/>
</div>
